#content {
    min-height: 420px;
}

.top250 {
    background: url('/resources/css/img/top250_bg.png') no-repeat;
    width: 150px;
    font: 12px Helvetica,Arial,sans-serif;
    margin: 5px 0;
    color: #744900;
}

.top250 span {
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

.top250-no {
    width: 34%;
}

.top250-link {
    width: 66%;
}

h1 {
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}

.year {
    display: inline-block;
    zoom: 1;
}

.grid-16-8 .article {
    float: left;
    width: 590px;
    padding-right: 40px;
}

.clearfix {
    display: block;
}

.subject {
    float: left;
    width: 415px;
}
.indent {
    margin-bottom: 30px;
}

.subjectwrap {
    position: none;
    float: none;
    width: auto;
}

#mainpic {
    margin: 3px 0 0 0;
    float: left;
    text-align: center;
    margin: 3px 12px 0 0;
    max-width: 155px;
    overflow: hidden;
}

#info {
    float: left;
    max-width: 248px;
    word-wrap: break-word;
}

.related-info {
    display: block;
}

.indent {
    margin-bottom: 30px;
}

.related-pic {
    margin-bottom: 30px;
}

.related-pic-bd {
    margin-right: -3px;
    overflow: hidden;
    letter-spacing: -0.31em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.related-pic-bd li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin-right: 25px;
}

.film_rel_pic {
    border-width: 0;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    max-width: 100%;
}

.mod {
    margin-bottom: 25px;
}

.mod .hd {
    margin-bottom: 10px;
}


ul.award {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.award li {
    display: inline;
    margin-right: 5px;
}

#recommendations .recommendations-bd {
    margin-right: -18px;
    letter-spacing: -0.31em;
}

#recommendations .recommendations-bd dl {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    letter-spacing: normal;
    margin: 0 18px 15px 0;
    overflow: hidden;
}

#recommendations .recommendations-bd dt {
    height: 145px;
    width: 100px;
    margin-bottom: 8px;
    overflow: hidden;
}

a img {
    border-width: 0;
    vertical-align: middle;
    max-width: 100%;
}

#recommendations .recommendations-bd dd {
    font-size: 13px;
    text-align: center;
}

.review_user {
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 28px;
    height: 28px;
    background-color: rgba(240,243,245,0.8);
}

.review_content {
    overflow: hidden;
    word-break: break-word;
    margin: 0;
}

ul.downurl {
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    /* padding-bottom: 12px; */
    padding: 0 10px 23px;
    overflow: hidden;
    zoom: 1;
}

ul.downurl li {
    /* line-height: 34px; */
    overflow: hidden;
    /* padding: 0 10px; */
    border-bottom: 0px solid #eaeaea;
    vertical-align: middle;
    width: 100%;
    float: left;
    height: 44px;
    padding: 3px 0;
    margin-left: 0px;
}

ul.downurl li .loldytt {
    /* line-height: 26px; */
    width: 792px;
    /* margin: 6px 0px 10px 0px; */
    line-height: 24px;
    color: #738d9e;
}

ul.downurl li .dwon_xl {
    width: 80px;
    height: 35px;
    /* padding-top: 6px; */
    padding-left: 12px;
}

ul.downurl li div {
    float: left;
    display: inline;
    overflow: hidden;
    padding-top: 10px;
    height: 45px;
}

ul.downurl li .loldytt div span {
    color: #bc2931;
    overflow: hidden;
    float: left;
    height: 24px;
    padding-right: 0px;
    /* width: 162px; */
    display: inline;
}

ul.downurl li .loldytt div input {
    font-size: 12px;
    border: 1px solid #e4e4e4;
    /* float: left; */
    padding: 0px 0px 0px 6px;
    height: 22px;
    line-height: 22px;
    color: #000;
    background: #f2f2f2;
    margin: 0px 0px 0px 10px;
}